<%= form_for :article do |f| %>
<p>
	<%= f.label :title %> <br>
	<%= f.text_field :title %>
</p>

<p>
	<%= f.label :"Roll number" %> <br>
	<%= f.text_field :"Roll number" %>
</p>

<p>
	<%= f.submit :Submit %> <br>
</p>
<% end %>